/* GENERAL */

body{
    font-family: 'Comfortaa', sans-serif;
}

.no-padding-nav {
    padding-right: 0;
    padding-left: 0;
}


.bg-anthra{
    background-color: #28282D;
}

.bg-black-opacity{
    background-color: rgba(0,0,0,0.3);
}

h1 {
    letter-spacing: 5px;
    font-weight: bold;
}

p {
    letter-spacing: 1px;
    font-weight: 500;
}


/* HEADER */


#contact-header{
    display: block;
    height: 35px;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 75%;
}

#contact-ul {
    margin-right: 21px;
}

.logonav{
    max-width: 25% !important;
}

.navbar {
    padding: 0;
}

.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

nav a{
    letter-spacing: 3px;
    margin: 0 15px;
}

#navbarNavAltMarkup {
    margin-right: 10px;
}


/* ACCUEIL */



#carouselExampleSlidesOnly{
    z-index: -500;
}

.carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


#presentation h1{
    position: absolute;
    z-index: -450;
    top: 30%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    position: fixed;
}

#presentation p{
    position: absolute;
    z-index: -450;
    top: 45%;
    left: 0;
    right: 0;
    font-size: 1.10rem;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    padding: 20px 200px;
    position: fixed;
}

/*services*/

#services {
    height: 800px;
}


/* TARIFS */



/* CONTACT */



/* FOOTER */


/* Mentions légales */
/* Données personnelles */
/* Cookies */
/* Plan du site */


/* RESPONSIVE */

button.navbar-toggler.bg-dark {
    background-color: cadetblue !important;
}

.navbar-toggler {
    margin-right: 21px;
}


@media screen and (max-width: 1300px) {

 
    /*accueil carousel*/
    #presentation p {
        padding: 20px 20px; 
    }
}


/* portables et tablettes */
@media screen and (max-width: 991px) {

    /*header nav*/
    .navbar-toggler {
        height: min-content;
        margin-top: 4%;
        margin-bottom: 4%;
    }

    /*accueil carousel*/
    #presentation p {
       padding: 20px 20px;
    }
}


/* portables */
@media screen and (max-width: 768px) {

    /*header nav*/
    .navbar-brand {
        min-width: 70% !important;
        width: min-content; 
    }

    .navbar-toggler {
        border: none;
    } 

    /*accueil carousel*/
    #presentation h1 {
        font-size: 1.6rem;
        top: 15%;
    }

    #presentation p {   
        top: 27%;
        line-height: 160%;
        font-size: 1.1rem;
    }

}

@media screen and (max-width: 576px) {

    /* nav */
    .logonav {
        margin-left: 63px; 
    }

    .navbar-brand {
        min-width: 70% !important;
        width: min-content; 
        text-align: center;
    }

    /* accueil carousel */
    p {
        letter-spacing: 0.5px;
    }
}