/* GENERAL */
@import url(https://fonts.googleapis.com/css?family=Raleway:700); /* police page 404*/


body{
    font-family: 'Noto Sans', sans-serif;
    background-color: rgb(223, 223, 223);
}

a{
    color: #000;
    transition: 500ms;
    text-decoration: underline;
}

a:hover{
    text-decoration: none;
    transition: 500ms;
    color: rgb(0, 99, 178);
}

.no-padding-nav {
    padding-right: 0;
    padding-left: 0;
}


.bg-anthra{
    background-color: #28282D;
}

.bg-black-opacity{
    background-color: rgba(0,0,0,0.3);
}

h1 {
    letter-spacing: 5px;
    font-weight: bold;
    font-family: 'Fjalla One', sans-serif;
}

h2 {
    margin-top: 180px !important;
    font-size: 1.7rem;
    letter-spacing: 4px;
    font-family: 'Fjalla One', sans-serif;
    font-weight: bold;
}

h5 {
    color: rgb(0, 99, 178);
    font-size: 1rem;
}

p {
    letter-spacing: 1px;
    font-weight: 500;
}

.filter-color-blue{
    background-color: rgba(0,99,178,0.4);
}

.filter-blur{
    filter: blur(5px);
}

.barre_separation {
    color: #FC9E21;
}

.blue{
    color: #0063B2;
}

.orange{
    color: #FC9E21;
}

.bg-blue{
    background-color: #0063B2;
}

.bg-orange{
    background-color: #FC9E21;
}

/* ALERTE COOKIES */

.cc_container .cc_btn{
    background-color: #0063B2 !important;
    color: #fff !important;
}

/* HEADER */


#contact-header{
    display: block;
    height: 35px;
    font-size: 75%;
}

#contact-ul {
    margin-right: 21px;
}

.logonav{
    max-width: 100% !important;
}

.navbar {
    padding: 0;
}

.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

nav a{
    letter-spacing: 2px;
    margin: 0 15px;
    text-decoration: none;
    font-family: 'Noto Sans', sans-serif;
}

#navbarNavAltMarkup {
    margin-right: 10px;
}


a.nav-item:before, a.nav-item:after {
    content: '';
    position: absolute;
    transition: transform .2s ease;
}

a.nav-item.effect-1 {
    padding-top: 10px;
}

a.nav-item.effect-1:before {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #FC9E21;
    transform: scaleX(0); 
}
a.nav-item.effect-1:hover:before {
    transform: scaleX(1);
}

a.nav-item.effect-1.dropdown.active:hover:before {
    background: none;
    transform: none;
    transition: none;
    content: none;
    display: none;
}

a.active:hover {
    text-decoration: none;
}

a.active {
    border-bottom: solid 2px #FC9E21;
    color: white;
    margin-top: 0.6rem;
    font-size: unset;
}


/* ACCUEIL */

/*//// carousel */

#carouselExampleSlidesOnly{
    z-index: -500; 
} 

.carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

#logo-presentation{
    position: absolute;
    top: 25%;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    width: 8% !important;
}

#presentation h1{
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    border-bottom: #d38218 solid 0.5px;
    width: 45% !important;
    padding-bottom: 2%;
}


#presentation p{
    position: absolute;
    top: 38%;
    left: 0;
    right: 0;
    font-size: 2rem;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding: 0 200px;
}

a.btn, a.btn.btn-services, .btn-primary {
    text-decoration: none;
    color: #fff;
    background-color: #d38218;
    border-color: #d38218;
}

.btn:hover, .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle, a.btn.btn-services:hover, a.btn.btn-services:active  {
    color: #fff;
    background-color: #FC9E21;
    border-color: #FC9E21;
}


/*//// services */

#plus_encore {
    margin: 20px;
    padding: 10px;
}

.img-services{
    max-width: 80% !important;
}

#h1_services {
    margin-top: 80px !important;
    font-size: 1.7rem;
}

/* TARIFS */

tr {
    background-color: rgba(0, 0, 0, 0.2);
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 3px solid #32383e;
}

th {
    background-color: #32383e;
}

#p_informatif {
    font-weight: bold;
}

.tarifs_h2 {
    margin-top: 4rem !important;
}

.pb-4, .py-4 {
    padding-bottom: unset !important; 
}

/* CONTACT */

#contact button{
    width: 100%;
}

div#contact_div.row {
    margin: 0.4em;
}

input:required {
    background: url('../img/etoile.png') 93% center no-repeat;
    background-color: white;
}

textarea:required {
    background: url('../img/etoile.png') 93% 8% no-repeat;
    background-color: white;
}

input:focus:invalid, textarea:focus:invalid {
    box-shadow: none;
    border-color: #FF0000;
}

input:focus:valid, textarea:focus:valid {
    box-shadow: none;
    border-color: #56c93F;
    background-image: none;
}

input:valid, textarea:valid {
    background-image: none;
}

.was-validated .form-control:valid {
    border: none;
}

.was-validated .form-control:invalid {
    border: none;
}


/* FOOTER */

footer{
    font-size: 70%;
    margin-top: 80px;
}


footer i:hover{
    font-size: 200%;
    transition: 500ms;
    color: #FC9E21;
}

footer i{
    font-size: 150%;
    transition: 500ms;
}

footer a{
    color: #fff;
    text-decoration: none;
}

footer a:hover{
    text-decoration: none;
    transition: 500ms;
    color: #FC9E21;
}

/* 404 */

.text-wrapper_404 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title_404 {
    font-size: 6em;
    font-weight: 700;
    color: #FC9E21;
}

.subtitle_404 {
    font-size: 40px;
    font-weight: 700;
    color: rgb(0, 99, 178);
}

.buttons_404 {
    margin: 30px;
}
.buttons_404 a.button_404 {
    font-weight: 700;
    border: 2px solid #FC9E21;
    text-decoration: none;
    padding: 15px;
    text-transform: uppercase;
    color: #FC9E21;
    border-radius: 26px;
    transition: all 0.2s ease-in-out;
}
.buttons_404 a.button_404:hover {
    background-color: #FC9E21;
    color: white;
    transition: all 0.2s ease-in-out;
}

/* Plan du site */

#plan {
    height: 60vh;
}


/* RESPONSIVE */



button.navbar-toggler.bg-dark {
    background-color: #FC9E21 !important;
}

button.navbar-toggler.bg-dark:active, button.navbar-toggler.bg-dark:focus  {
    background-color: rgb(138, 83, 13) !important;
}

.navbar-toggler {
    margin-right: 21px;
}


/* BOOTSTRAP GRID SYSTEM */




@media screen and (min-width: 1301px) and (max-width: 1441px) {

    #presentation p {
        padding-top: 75px;
        font-size: 1.5rem !important;
    }
}

@media screen and (min-width: 1201px) and (max-width: 1300px) {

    #presentation p {
        padding: 20px 20px; 
        font-size: 2rem !important;
        top: 30% !important;
    }
}

@media screen and (min-width: 1024px) {
    #contact-ul {
        font-size: larger;

    }
    .logonav{
        max-width: 73% !important;
    }
}



@media screen and (min-width: 992px) and (max-width: 1200px) {
    #logo-presentation{
        top: 25%;
        width: 9% !important;
    }

    #presentation p {
        font-size: 1rem !important;
        padding-top: 45px;
    }
}


@media screen and (max-width: 991px) {


    .navbar-toggler {
        height: min-content;
        margin-top: 4%;
        margin-bottom: 4%;
    }

    #presentation p {
        padding: 20px 20px;
    }

    nav a.active {
        border-bottom: none;
        color: #FC9E21;
    }

    a.nav-item.effect-1:before {
        background: none;
    }

    #contact_div {
        flex-direction: column-reverse;
    }
}

@media screen and (min-width: 769px) and (max-width: 991px) {
    #logo-presentation{
        top: 30%;
        width: 10% !important;
    }
    .logonav{
        max-width: 73% !important;
    }
}



@media screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-brand {
        max-width: 37%;
    }
}

@media screen and (max-width: 767px) {
    .navbar-brand {
        min-width: 40% !important;
        width: min-content; 
    }

    .navbar-toggler {
        border: none;
    } 

    .invert-img {
        order: 2;
    }

    .invert-text {
        order: 1;
    }

    #presentation h1 {
        font-size: 1.6rem;
        top: 15%;
    }

    ul.list-inline.menu-footer, #sous-footer {
        text-align: center !important;

    }

    h2 {
        margin-top: 140px !important;
    }

}

@media screen and (min-width: 577px) and (max-width: 768px) {
    #logo-presentation{
        top: 23% !important;
        width: 12% !important;
    }

    #presentation p {   
        top: 33%;
        font-size: 1.7rem;
    }
}


@media screen and (min-width: 655px ) and (max-width: 769px) {
    #presentation h1 {
        margin-top: 10px;
    }
}


@media screen and (min-width: 575px ) and (max-width: 769px) {
    .navbar-toggler {
        font-size: medium;
    }
}

@media screen and (min-width: 575px) and (max-width: 647px) {

    ul.list-inline.menu-footer, #sous-footer {
        font-size: 9px; 
    }

}

@media screen and (max-width: 575px) {

    .navbar-brand {
        min-width: 55% !important;
        width: min-content; 
    }

    p {
        letter-spacing: 0.5px;
    }

    #services {
        padding-top: 15px;
    }

    .navbar-toggler {
        font-size: x-small;
    }

    #logo-presentation{
        top: 30%;
        width: 18% !important;
    }

    tbody{
        font-size: 11px;
    }

    #tarifs-responsive{
        font-size: 12px;
    }
}

@media screen and (max-width: 425px) {

    #logo-presentation{
        top: 18%;
        width: 22% !important;
    }

    #presentation p{
        top: 35%;
        font-size: 1rem !important;
    }

    ul.list-inline.menu-footer {
        font-size: 8px;
    }

    ::placeholder {
        font-size: 0.8em;
    }

    .form-check {
        font-size: 11px;
    }
}

@media screen and (min-width: 320px) and (max-width: 362px) {
    #contact-ul {
        font-size: 11px;
    }
}

@media screen and (min-width: 320px) {
    #presentation h1 {
        margin-top: 10px;
    }
}

@media screen and (max-width: 320px) {
    #contact-ul {
        font-size: x-small;
    }
}

/*ipad pro*/

@media screen and (min-width: 1300px) and (max-width: 1367px) {
    a.btn.btn-primary.m-3.js-scrollTo {
        height: 65px;
        width: 200px;
        font-size: 1.6rem;
        padding-top: 14px;
    }
}

@media screen and (min-height: 1300px) and (max-height: 1367px) {
    #contact-ul {
        font-size: 17px;
    }  

    #presentation h1 {
        font-size: 3.2rem;
        top: 250px;
    }

    #presentation p {
        font-size: 2rem !important;
        top: 30%;
    }

    a.btn.btn-primary.js-scrollTo {
        height: 65px;
        width: 200px;
        font-size: 1.6rem;
        padding-top: 14px;
    }

}


/*****************/

@media screen and (min-height: 1024px) {
    .navbar-light .navbar-toggler-icon {
        max-width: 35px;
        max-height: 40px;
    }

    #logo-presentation {
        top: 18% !important;
        width: 13% !important;
    }
}

@media screen and (min-width: 1441px) {

    #presentation p {
        padding-top: 250px;
        font-size: 2.2rem !important;
    }

    #logo-presentation{
        top: 25% !important;
        width: 8% !important;
    }

    nav a {
        font-size: 1.7rem !important;
    }

    .list-inline-item {
        font-size: 1.3rem !important;
    }

    p {
        font-size: 1.5rem;
    }

    #h1_services {
        font-size: 2.4rem;
    }

    h3 {
        font-size: 2rem;
    }

    h5 {
        font-size: 1.7rem;
    }

    .img-services {
        max-width: 100% !important;
    }
}

@media screen and (max-height: 830px) {
    .navbar-light .navbar-toggler-icon {
        width: 20px;
    }

    #presentation p {
        line-height: unset;
        font-size: 1.2rem !important;
    }
}

@media screen and (min-height: 642px) and (max-height: 670px) {
    #presentation p {
        font-size: 0.9rem !important;
    }
}

@media screen and (min-height: 570px) and (max-height: 641px) {
    #presentation p {
        font-size: 0.9rem !important;
    }
}

@media screen and (max-height: 579px ) {
    #presentation p {
        font-size: 1rem !important;
    }
}

/*iphone5/SE*/
@media screen and (max-height: 569px) and (max-width: 321px) {

    #presentation p {
        line-height: unset;
        font-size: 0.9rem !important;
        width: auto;
        padding-top: 12%;
    }

    #logo-presentation {
        top: 20%;
    }

    .btn.js-scrollTo {
        font-size: unset;
        display: initial;
    }
}

@media screen and (min-height: 420px ) and (max-height: 539px ) {

    #logo-presentation {
        top: 26% !important;
    }

    #presentation p {
        padding-top: 90px !important;
        font-size: 0.8rem !important;
    }
}


@media screen and (max-height: 420px ) {
    #contact-header {
        font-size: 35% !important;
    }

    #logo-presentation {
        display: none;
    }

    #presentation p {
        padding-top: 35px !important;
        font-size: 0.9rem !important;
    }

    #contact-header {
        font-size: 75% !important;
    } 
}

@media screen and (min-height: 321px) and (max-height: 376px) {

    #presentation p {
        padding-top: 40px;
        font-size: 0.8rem !important;
    }

}

@media screen and (max-height: 320px ) {

    #presentation p {
        padding-top: 30px;
        font-size: 0.7rem !important;
    }

}
