/* GENERAL */
@import url(https://fonts.googleapis.com/css?family=Raleway:700); /* police page 404*/


body{
    font-family: 'Comfortaa', sans-serif;
    background-color: rgb(223, 223, 223);
}

.ancres{display: block; 
    height: 137px; /*same height as header*/ 
    margin-top: -137px; /*same height as header*/ visibility: hidden;}

#contact h1, #mentions_legales h1, #tarifs h1, #policy_h1, #contact h2, #mentions_legales h2, #policy_h2, #plan h2 {
    margin-top: 180px !important;
}

.no-padding-nav {
    padding-right: 0;
    padding-left: 0;
}


.bg-anthra{
    background-color: #28282D;
}

.bg-black-opacity{
    background-color: rgba(0,0,0,0.3);
}

h1 {
    letter-spacing: 5px;
    font-weight: bold;
}

p {
    letter-spacing: 1px;
    font-weight: 500;
}


/* HEADER */


#contact-header{
    display: block;
    height: 35px;
    font-size: 75%;
}

#contact-ul {
    margin-right: 21px;
}

.logonav{
    max-width: 25% !important;
}

.navbar {
    padding: 0;
}

.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

nav a{
    letter-spacing: 3px;
    margin: 0 15px;
}

#navbarNavAltMarkup {
    margin-right: 10px;
}


a.nav-item:before, a.nav-item:after {
    content: '';
    position: absolute;
    transition: transform .2s ease;
}

a.nav-item.effect-1 {
    padding-top: 10px;
}

a.nav-item.effect-1:before {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: cadetblue;
    transform: scaleX(0); 
}
a.nav-item.effect-1:hover:before {
    transform: scaleX(1);
}

a.nav-item.effect-1.dropdown.active:hover:before {
    background: none;
    transform: none;
    transition: none;
    content: none;
    display: none;
}

a.nav-item.effect-1:focus  {
    color: cadetblue !important;
}

a.active:hover {
    text-decoration: none;
}

a.active {
    border-bottom: solid 3px cadetblue;
    color: white;
    margin-top: 0.6rem;
    font-size: unset;
}

/* ACCUEIL */

/*//// carousel */

#carouselExampleSlidesOnly{
     z-index: -500; 
} 

.carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}


#presentation h1{
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    border-bottom: white solid 0.5px;
    width: 55% !important;
    padding-bottom: 2%;
}


#presentation p{
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
    font-size: 1.10rem;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding: 20px 200px;
}


/*//// services */

#services li{
    color: #000;
}

.fa-desktop:before {
    margin: 0 10px;
}

#services_cards a{
    color: #000;
    transition: 500ms;
}

#services a:hover{
    text-decoration: none;
    color: cadetblue;
    transition: 500ms;
}

.blog-card {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.6%;
    background: #fff;
    line-height: 1.4;
    font-family: sans-serif;
    border-radius: 5px;
    overflow: hidden;
    z-index: 0;
  }
  .blog-card a {
    color: inherit;
  }
  .blog-card a:hover {
    color: #5ad67d;
  }
  .blog-card:hover .photo {
    -webkit-transform: scale(1.3) rotate(3deg);
            transform: scale(1.3) rotate(3deg);
  }
  .blog-card .meta {
    position: relative;
    z-index: 0;
    height: 200px;
  }
  .blog-card .photo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s;
  }
  .blog-card .details,
  .blog-card .details ul {
    margin: auto;
    padding: 0;
    list-style: none;
  }
  .blog-card .details {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    margin: auto;
    transition: left .2s;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 10px;
    width: 100%;
    font-size: .9rem;
  }
  .blog-card .details a {
    -webkit-text-decoration: dotted underline;
            text-decoration: dotted underline;
  }
  .blog-card .details ul li {
    display: inline-block;
  }

  .blog-card .details .tags li {
    margin-right: 2px;
  }
  .blog-card .details .tags li:first-child {
    margin-left: -4px;
  }
  .blog-card .description {
    padding: 1rem;
    background: #fff;
    position: relative;
    z-index: 1;
  }
  
  .blog-card .description h1 {
    line-height: 1;
    margin: 0;
    font-size: 1.7rem;
    letter-spacing: 0;
  }
  .blog-card .description h2 {
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #a2a2a2;
    margin-top: 5px;
  }
  .blog-card .description .read-more {
    text-align: right;
  }
  .blog-card .description .read-more a {
    color: #5ad67d;
    display: inline-block;
    position: relative;
  }
  
  .blog-card p {
    position: relative;
    margin: 1rem 0 0;
  }
  .blog-card p:first-of-type {
    margin-top: 1.25rem;
  }
  .blog-card p:first-of-type:before {
    content: "";
    position: absolute;
    height: 5px;
    background: #5ad67d;
    width: 35px;
    top: -0.75rem;
    border-radius: 3px;
  }
  .blog-card:hover .details {
    left: 0%;
  }
 
  


/* TARIFS */




/* CONTACT */

#contact button{
    width: 100%;
}

div#contact_div.row {
    margin: 0.4em;
}

input:required, textarea:required {
    background: url('../img/etoile.png') 93% center no-repeat;
    background-color: white;
}

input:focus:invalid, textarea:focus:invalid {
    box-shadow: none;
    border-color: #FF0000;
}

input:focus:valid, textarea:focus:valid {
    box-shadow: none;
    border-color: #56c93F;
    background-image: none;
}

input:valid, textarea:valid {
    background-image: none;
}

.was-validated .form-control:valid {
    border: none;
}

.was-validated .form-control:invalid {
    border: none;
}

/* FOOTER */

footer{
    font-size: 70%;
    margin-top: 80px;
}


footer i:hover{
    font-size: 200%;
    transition: 500ms;
    color: cadetblue;
}

footer i{
    font-size: 150%;
    transition: 500ms;
}

footer a, footer a:hover{
    text-decoration: none;
    color: #fff;
}

/* 404 */

.text-wrapper_404 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title_404 {
  font-size: 6em;
  font-weight: 700;
  color: #EE4B5E;
}

.subtitle_404 {
  font-size: 40px;
  font-weight: 700;
  color: cadetblue;
}

.buttons_404 {
  margin: 30px;
}
.buttons_404 a.button_404 {
  font-weight: 700;
  border: 2px solid #EE4B5E;
  text-decoration: none;
  padding: 15px;
  text-transform: uppercase;
  color: #EE4B5E;
  border-radius: 26px;
  transition: all 0.2s ease-in-out;
}
.buttons_404 a.button_404:hover {
  background-color: #EE4B5E;
  color: white;
  transition: all 0.2s ease-in-out;
}

/* Mentions légales */
/* Données personnelles */
/* Cookies */
/* Plan du site */

#plan {
    height: 60vh;
}


/* RESPONSIVE */



button.navbar-toggler.bg-dark {
    background-color: cadetblue !important;
}

.navbar-toggler {
    margin-right: 21px;
}



/* portables et tablettes */

@media screen and (max-width: 1300px) {


    /*accueil carousel*/
    #presentation p {
        padding: 20px 20px; 
    }
}

@media screen and (max-width: 991px) {

    /*header nav*/
    .navbar-toggler {
        height: min-content;
        margin-top: 4%;
        margin-bottom: 4%;
    }

    /*accueil carousel*/
    #presentation p {
        padding: 20px 20px;
    }
}



/* tablettes */

/*ipad pro*/
@media screen and (min-height: 1300px) and (max-height: 1367px) {
    #contact-ul {
        font-size: 17px;
    }  

    #presentation h1 {
        font-size: 3.2rem;
        top: 250px;
    }

    #presentation p {
        font-size: 30px;
        top: 400px;
    }

}
/*****************/


@media screen and (max-height: 1025px) {
    #contact-ul {
        font-size: larger;
    }
}


@media screen and (min-height: 1024px) {
    .navbar-light .navbar-toggler-icon {
        width: 35px;
        height: 40px;
    }
}


/* portables */
@media screen and (max-width: 768px) {
    .navbar-brand {
        min-width: 70% !important;
        width: min-content; 
    }

    .navbar-toggler {
        border: none;
    } 
    #presentation h1 {
        font-size: 1.6rem;
        top: 15%;
    }

    #presentation p {   
        top: 27%;
        line-height: 160%;
        font-size: 1.1rem;
    }

}


@media screen and (min-width: 655px ) and (max-width: 768px) {
    #presentation h1 {
        margin-top: 10px;
    }
}

/*cards*/
@media (min-width: 640px) {
    .blog-card {
      flex-direction: row;
      max-width: 700px;
    }
    .blog-card .meta {
      flex-basis: 40%;
      height: auto;
    }
    .blog-card .description {
      flex-basis: 60%;
    }
    .blog-card .description:before {
      -webkit-transform: skewX(-3deg);
              transform: skewX(-3deg);
      content: "";
      background: #fff;
      width: 30px;
      position: absolute;
      left: -10px;
      top: 0;
      bottom: 0;
      z-index: -1;
    }
    .blog-card.alt {
      flex-direction: row-reverse;
    }
    .blog-card.alt .description:before {
      left: inherit;
      right: -10px;
      -webkit-transform: skew(3deg);
              transform: skew(3deg);
    }
    .blog-card.alt .details {
      padding-left: 25px;
    }
  }
/**************************************/

@media screen and (max-width: 576px) {
    .logonav {
        margin-left: 63px; 
    }
    .navbar-brand {
        min-width: 70% !important;
        width: min-content; 
        text-align: center;
    }

    p {
        letter-spacing: 0.5px;
    }

    #services {
        padding-top: 15px;
    }
}

/* tout petits ecrans*/
@media screen and (min-width: 320px) {
    #presentation h1 {
        margin-top: 10px;
    }
}


@media screen and (max-height: 830px) {
    .navbar-light .navbar-toggler-icon {
        width: 20px;
    }

    #presentation p {
        line-height: unset;
        font-size: 0.9rem;
    }
}



/*iphone5/SE*/
@media screen and (max-height: 569px) {
    #presentation h1 {
        margin-top: 30px;
    }

    #presentation p {
        line-height: unset;
        font-size: 0.7rem;
        width: auto;
        padding-top: 25%;
    }
}